/* Using only grid system */

$enable-flex:               false;
$enable-grid-classes:       false;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss';


#wrapper{
    @include container-fixed();
    
    background: red;
    height: 120px;
    
    article{
        @include make-row();
        
        height: 80px;
        background: green;
        
        
        .example{
            background: yellow;
            
            @include make-sm-column(12);                    
            @include make-md-column(8);
            @include make-lg-column(4); 
        }
    }
}